/* Base Button Styles */
.btn {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn.default {
  opacity: 1;
}

/* ----- BUTTON TYPOGRAPHY ----- */
.btn.small .btn-text{
  color: #38393A;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px; /* 121.429% */
}

.btn.medium .btn-text {
  color: #38393A;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.1px;
}

.btn.large .btn-text {
  color: #38393A;
  font-family: Lato;
  font-size: 18px; 
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 122.222% */
  letter-spacing: 0.1px;
}

.btn.cta .btn-text, /* CTA */
.btn.primary .btn-text, /* PRIMARY */
.btn.destructive .btn-text, /* DESTRUCTIVE */
.btn.outline.hover:hover .btn-text /*OUTLINE */
{ color: #FFFFFF; /*Ivory/0*/ }

.btn.cta.disabled .btn-text, 
.btn.primary.disabled .btn-text, /* PRIMARY */
.btn.outline.disabled .btn-text, /* OUTLINE */
.btn.borderless.disabled .btn-text, /* BORDERLESS */
.btn.destructive.disabled .btn-text /* DESTRUCTIVE */
{ color: #9B9C9D; /* Greyscale/Surface/Disabled */ }


/* ----- ALL DEFAULT TYPE STYLES ----- */

/* CTA Button */
.btn.cta {
  background-color: #060809; /*Obsedian 300*/
}

/* Primary Button */
.btn.primary {
  background-color: #d48200; /*Surface/Default*/ 
}

/* Outline Button */
.btn.outline {
  background-color: transparent;
  border: 1px solid #E07A1A; /*Surface/Default */
}

/* Borderless Button */
.btn.borderless {
  background-color: transparent;
}

/* Destructive Button */
.btn.destructive {
  background-color: #D63B25; /*ErrorRed/300 */;
}



/* ----- VARIANT CTA STATE STYLES ----- */

.btn.cta.hover:hover {
  background-color: #38393A; /*Greyscale/250*/
}

.btn.cta.focused {
  background-color: #060809; /*Obsedian 300*/;
  border: 2px solid #6A6B6B; /*Greyscale/Border/Darker*/
}

.btn.cta.selected {
  background-color: #060809; /*Obsedian 300*/
}

.btn.cta.disabled {
  background-color: #DADADA; /*Greyscale/Surface/Disabled*/
  cursor: not-allowed;
}



/* ----- VARIANT PRIMARY STATE STYLES ----- */
.btn.primary.hover:hover {
  background-color: #BC5B06; /*Orange/350*/
}

.btn.primary.focused {
  background-color: #E07A1A; /*Surface/Darker */;
  border: 2px solid #F6D2B1; /* Orange/100 */
}

.btn.primary.selected {
  background-color: #BC5B06; /*Surface/Darker*/
}

.btn.primary.disabled {
  background-color: #DADADA; /*Greyscale/Surface/Disabled*/
  cursor: not-allowed;
}


/* ----- VARIANT OUTLINE STATE STYLES ----- */
.btn.outline.hover:hover {
  background-color: #E07A1A; /*Border/Default*/
  border: 1px solid #E07A1A; /*Border/Default*/
}

.btn.outline.focused {
  background-color: transparent;  
  border: 2px solid #F6D2B1; /*Border/Subtle*/ 
}

.btn.outline.selected {
  background-color: #F6D2B1; /*Border/Subtle*/  
  border: 1px solid #F6D2B1; /*Border/Subtle*/ 
}

.btn.outline.disabled {
  background-color: transparent; 
  border: 1px solid #9B9C9D; /*Greyscale/Text/Disabled*/
  cursor: not-allowed;
}


/* ----- VARIANT BORDERLESS STATE STYLES ----- */
.btn.borderless.hover:hover {
  background-color: #F3F3ED; /*Ivory/100*/
}

.btn.borderless.focused {
  background-color: transparent; 
  border: 2px solid #EDEDE3; /*Ivory/150*/
}

.btn.borderless.selected {
  background-color: #EDEDE3; /*Ivory/150*/
}

.btn.borderless.disabled {
  background-color: transparent;
  border: 1px solid #9B9C9D; /*Greyscale/Text/Disabled*/
  cursor: not-allowed;
}



/* ----- VARIANT DESTRUCTIVE STATE STYLES ----- */
.btn.destructive.hover:hover {
  background-color: #C3331F; /*ErrorRed/350*/
}

.btn.destructive.focused {
  background-color: #D63B25; /*ErrorRed/300 */
  border: 2px solid #F0B0A8; /*ErrorRed/150 */
}

.btn.destructive.selected {
  background-color: #822317; /*ErrorRed/400*/
}

.btn.destructive.disabled {
  background-color: #DADADA; /*Greyscale/Surface/Disabled*/
  cursor: not-allowed;
}